.App {
  text-align: center;
  color: #D7DDE8;
}
a {
  text-decoration: none;
  color: #D7DDE8;

}
nav {
  margin-top: 20px;
  display: flex;
  justify-content: center;

}
ul {
  list-style-type: none;
  padding-inline-start: 0;
}
nav ul {
  display: flex;
}
nav li {
  margin: 0 10px;
}

footer {
  display: flex;
}