.live-section {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.first-block {
    position: relative;
}
.live-price-block {
    border-radius: 20px;
    padding: 15px 25px 15px 15px;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.live-price-block h1 {
    font-size: 2.5em;
    margin: 5px 0 5px 15px;
}
.live-price-block h3 {
    font-size: 1.7em;
    margin: 5px 0 5px 15px;
    align-self: end;
}
.market{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.live-image {
    border-bottom-right-radius: 20%;
    position: absolute;
    left: 26px;
    top: 15px;
}
.small-detail-info {
    font-size: 1em;
    margin: 5px 0 5px 15px;
    align-self: end;
}
.how-much {
    font-size: 1.4em;
    font-weight: 600;
    margin: 40px auto 30px auto;
}
button {
    border: none;
    outline: none;
    padding: 10px 20px;
    color: #D7DDE8 ;
    font-size: 1.3em;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
input {
    background: none;
    border: none;
    outline: none;
    padding: 5px 0px 8px 5px;
    color: #D7DDE8;
    border-bottom: 1px solid #596170;
    width: 90%;
    font-size: 1.3em;
    margin: 0 10px;
    text-align: center;
}
input::placeholder {
    color: #7f8185;
}

.amount-input {
    margin-bottom: 5%;
}
.instructions {
    border-radius: 20px;
    padding: 15px 25px;
    margin: 20px 20px;
}
.green{
    color: #24C7A2;
}

@media only screen and (min-width: 750px) {
    .live-image {
        left: 35px;
        top: 25px;
    }

}
