.price-block-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}
.price-block {
    border-radius: 20px;
    padding: 10px;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
}
.tokens {
    font-weight: 700;
    font-size: 1.2em;
    margin: 30px 10px 20px 10px;
}
.info {
    margin: 5px 0;
}
.info h2 {
    margin: 0;
    font-size: 2.2em;
}
.info h3 {
    margin: 0;
    font-size: 1.8em;;
}

.info p {
    margin: 0;
    font-size: 1.2em;
}