.sidebar {
    /* align-self: center; */
    display: flex;
    overflow: auto;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}
.sidebar::-webkit-scrollbar {
    display:none;
}

.side-center{
    display: flex;
    width: 100%;
    overflow: auto;
}
.side-center::-webkit-scrollbar {
    display:none;
}

.sidebar ul {
    display: flex;
    overflow: auto;
    white-space: nowrap;
    align-items: center;
    flex: 0 0 auto;
}
.sidebar ul::-webkit-scrollbar {
    display:none;
}

.sidebar li {
    margin: 10px 20px;
    text-align: left;
}
.sidebar-sym {
    display: none;
}
form {
    width:90%;
    margin: 0 auto;
}
.addCrypto {
    border: none;
    outline: none;
    padding: 10px 20px;
    color: #D7DDE8 ;
    font-size: 2em;
    border-radius: 50%;
    cursor: pointer;
    width:60px;
    height: 60px;
}
.check-coin {
    font-size: 1.3em;
    font-weight: 600;
    margin: 5px auto;
}

@media only screen and (min-width: 750px) {
    .sidebar ul {
        justify-content: center;
    }
    /* .sidebar-sym {
        display: block;
        margin: 3px auto;
        font-weight: 200;
        text-align: center;
    } */
    .sidebar {
        display: grid;
    }
    .check-coin {
        font-size: 1.4em;
    }
}