.sidebar {
    /* align-self: center; */
}
.sidebar ul {
    display: flex;
    overflow: auto;
    white-space: nowrap;
    align-items: center;
}
.sidebar ul::-webkit-scrollbar {
    display:none;
}

.sidebar li {
    margin: 10px 20px;
    text-align: left;
}
.sidebar-sym {
    display: none;
}
.addCrypto {
    border: none;
    outline: none;
    padding: 10px 20px;
    color: #D7DDE8 ;
    font-size: 2em;
    border-radius: 50%;
    cursor: pointer;
    width:60px;
    height: 60px;
}

@media only screen and (min-width: 750px) {
    .sidebar ul {
        justify-content: start;
    }

}